body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #2c3e50;
    color: #ecf0f1;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(135deg, #2c3e50, #34495e);
}

.floating-centered-container {
    position: absolute;
    top: 46.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.1);
    padding: 3rem 10rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    text-align: center;
    box-sizing: border-box;
    width: 83%;
}

.floating-centered-container h1 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin: 0px;
}

.floating-centered-container p {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin: 20px 0px;
}

.floating-container {
    position: relative;
    left: 50%;
    margin: 20px 0px 0px 0px;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.1);
    padding: 3rem 10rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    text-align: center;
    width: fit-content;
}

.floating-container h1 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin: 0px;
}

.floating-container p {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin: 10px 0px;
}

.card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(18, 18, 18, 0.7);
    color: white;
    text-align: center;
    padding: 5px 0px;
}

button.past-projects {
    background-color: #f98585;
    border-radius: 100px;
    --box-shadow: rgba(187, 44, 44, .2) 0 -25px 18px -14px inset, rgba(187, 44, 44, .15) 0 1px 2px, rgba(187, 44, 44, .15) 0 2px 4px, rgba(187, 44, 44, .15) 0 4px 8px, rgba(187, 44, 44, .15) 0 8px 16px, rgba(187, 44, 44, .15) 0 16px 32px;
    box-shadow: var(--box-shadow);
    color: rgb(128, 0, 0);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 5px;
}

button.past-projects:hover {
    box-shadow: rgba(187, 44, 44, .35) 0 -25px 18px -14px inset, rgba(187, 44, 44, .25) 0 1px 2px, rgba(187, 44, 44, .25) 0 2px 4px, rgba(187, 44, 44, .25) 0 4px 8px, rgba(187, 44, 44, .25) 0 8px 16px, rgba(187, 44, 44, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

button.about {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 5px;
}

button.about:hover {
    box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

button.contact {
    background-color: #85a9f9;
    border-radius: 100px;
    --box-shadow: rgba(44, 44, 187, .2) 0 -25px 18px -14px inset, rgba(44, 44, 187, .15) 0 1px 2px, rgba(44, 44, 187, .15) 0 2px 4px, rgba(44, 44, 187, .15) 0 4px 8px, rgba(44, 44, 187, .15) 0 8px 16px, rgba(44, 44, 187, .15) 0 16px 32px;
    box-shadow: var(--box-shadow);
    color: rgb(0, 0, 128);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 5px;
}

button.contact:hover {
    box-shadow: rgba(44, 44, 187, .35) 0 -25px 18px -14px inset, rgba(44, 44, 187, .25) 0 1px 2px, rgba(44, 44, 187, .25) 0 2px 4px, rgba(44, 44, 187, .25) 0 4px 8px, rgba(44, 44, 187, .25) 0 8px 16px, rgba(44, 44, 187, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

button.home {
    background-color: #ffffff;
    border-radius: 100px;
    --box-shadow: rgba(200, 200, 200, .2) 0 -25px 18px -14px inset, rgba(200, 200, 200, .15) 0 1px 2px, rgba(200, 200, 200, .15) 0 2px 4px, rgba(200, 200, 200, .15) 0 4px 8px, rgba(200, 200, 200, .15) 0 8px 16px, rgba(200, 200, 200, .15) 0 16px 32px;
    box-shadow: var(--box-shadow);
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 5px;
}

button.home:hover {
    box-shadow: rgba(200, 200, 200, .35) 0 -25px 18px -14px inset, rgba(200, 200, 200, .25) 0 1px 2px, rgba(200, 200, 200, .25) 0 2px 4px, rgba(200, 200, 200, .25) 0 4px 8px, rgba(200, 200, 200, .25) 0 8px 16px, rgba(200, 200, 200, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

button.github-link {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    will-change: transform;
}

button.github-link:disabled {
    pointer-events: none;
}

button.github-link:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

button.github-link:active {
    box-shadow: none;
    transform: translateY(0);
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    margin: 30px 0px;
}

.project-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 1rem;
    flex: 1 1 calc(33.333% - 2rem);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    min-width: 400px; /* Ensure cards don't get too small */
}

.project-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background: rgba(88, 88, 88, 0.479);
    transition: transform 0.6s ease, box-shadow 0.6s ease, background 0.6s ease;
}

.project-card {
    transition: transform 0.6s ease, box-shadow 0.6s ease, background 0.6s ease;
}

.project-card h2 {
    margin-top: 0px;
}

.project-card p {
    
}

.project-card button {
    /* top: 90%; */
    margin-bottom: 0px;
}