html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Arial', sans-serif;
    background: #2c3e50;
    color: #ecf0f1;
    scroll-behavior: smooth;
    flex: 1;
}


footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(18, 18, 18, 0.7);
    color: white;
    text-align: center;
    padding: 24px 0px;
    margin-top: auto;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(135deg, #2c3e50, #34495e);
}

.floating-centered-container {
    position: absolute;
    top: 46.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.1);
    padding: 3rem 10rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    text-align: center;
    box-sizing: border-box;
    width: 83%;
    font-family: 'Comic Sans MS', sans-serif;
}

.floating-centered-container h1 {
    font-size: 50px;
    margin: 0px;
}

.floating-centered-container p {
    margin: 20px 0px;
}

.title-container {
    position: relative;
    left: 50%;
    margin: 20px 0px 30px 0px;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.1);
    padding: 3rem 10rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    text-align: center;
    width: fit-content;
}

.title-container h1 {
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 40px;
    margin: 0px;
}

.title-container p {
    font-family: 'Comic Sans MS', sans-serif;
    margin: 10px 0px;
}

.project-container .card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-container .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

button.past-projects {
    background-color: #f98585;
    border-radius: 100px;
    --box-shadow: rgba(187, 44, 44, .2) 0 -25px 18px -14px inset, rgba(187, 44, 44, .15) 0 1px 2px, rgba(187, 44, 44, .15) 0 2px 4px, rgba(187, 44, 44, .15) 0 4px 8px, rgba(187, 44, 44, .15) 0 8px 16px, rgba(187, 44, 44, .15) 0 16px 32px;
    box-shadow: var(--box-shadow);
    color: rgb(128, 0, 0);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 5px 9px;
}

button.past-projects:hover {
    box-shadow: rgba(187, 44, 44, .35) 0 -25px 18px -14px inset, rgba(187, 44, 44, .25) 0 1px 2px, rgba(187, 44, 44, .25) 0 2px 4px, rgba(187, 44, 44, .25) 0 4px 8px, rgba(187, 44, 44, .25) 0 8px 16px, rgba(187, 44, 44, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

button.about {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 5px 9px;
}

button.about:hover {
    box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

button.contact {
    background-color: #85a9f9;
    border-radius: 100px;
    --box-shadow: rgba(44, 44, 187, .2) 0 -25px 18px -14px inset, rgba(44, 44, 187, .15) 0 1px 2px, rgba(44, 44, 187, .15) 0 2px 4px, rgba(44, 44, 187, .15) 0 4px 8px, rgba(44, 44, 187, .15) 0 8px 16px, rgba(44, 44, 187, .15) 0 16px 32px;
    box-shadow: var(--box-shadow);
    color: rgb(0, 0, 128);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 5px 9px;
}

button.contact:hover {
    box-shadow: rgba(44, 44, 187, .35) 0 -25px 18px -14px inset, rgba(44, 44, 187, .25) 0 1px 2px, rgba(44, 44, 187, .25) 0 2px 4px, rgba(44, 44, 187, .25) 0 4px 8px, rgba(44, 44, 187, .25) 0 8px 16px, rgba(44, 44, 187, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}


button.home {
    background-color: #ffffff;
    border-radius: 100px;
    --box-shadow: rgba(200, 200, 200, .2) 0 -25px 18px -14px inset, rgba(200, 200, 200, .15) 0 1px 2px, rgba(200, 200, 200, .15) 0 2px 4px, rgba(200, 200, 200, .15) 0 4px 8px, rgba(200, 200, 200, .15) 0 8px 16px, rgba(200, 200, 200, .15) 0 16px 32px;
    box-shadow: var(--box-shadow);
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 5px 9px;
}

button.home:hover {
    box-shadow: rgba(200, 200, 200, .35) 0 -25px 18px -14px inset, rgba(200, 200, 200, .25) 0 1px 2px, rgba(200, 200, 200, .25) 0 2px 4px, rgba(200, 200, 200, .25) 0 4px 8px, rgba(200, 200, 200, .25) 0 8px 16px, rgba(200, 200, 200, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

button.github-link {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-width: 0;
    outline: none;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 450ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    will-change: transform;
}

button.github-link:disabled {
    pointer-events: none;
}

button.github-link:hover {
    background-color: #FFFFFF;
    color: #000000;
    transition: all 450ms cubic-bezier(.23, 1, 0.32, 1);
}

button.github-link:active {
    box-shadow: none;
    transform: translateY(0);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    margin: 20px auto 40px auto;
    padding: 20px 35px;
    border-radius: 20px;
    height: fit-content;
    width: 80%;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin: 0px;
    margin-bottom: 20px;
}

.project-card {
    background: rgba(34, 34, 34, 0.561);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 1rem;
    flex: 1 1 calc(33.333% - 2rem);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    min-width: 600px;
    max-width: 650px;
}

.project-card .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.project-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background: rgba(61, 61, 61, 0.636);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.project-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.project-card h2 {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
}

.project-card p {
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
}

.project-card button {
    margin-bottom: 0px;
}

.about-container {
    padding: 20px;
}

.about-container p {
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    margin: 0px;
}

.about-container h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin: 0px 0px 20px 0px;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.links {
    margin: 0px 0px;
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.links button {
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 3;
    outline: transparent;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s ease-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    width: 110px;
}

.links button.linkedin {
    background: linear-gradient(to bottom right, #0077b5, #005582);
}

button.linkedin:not([disabled]):focus,
button.linkedin:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 119, 181, 0.5), -.125rem -.125rem 1rem rgba(0, 119, 181, 0.5), .125rem .125rem 1rem rgba(0, 119, 181, 0.5);
}

.links button.github {
    background: linear-gradient(to bottom right, #000000, #434343);
}

button.github:not([disabled]):focus,
button.github:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(0, 0, 0, 0.5), .125rem .125rem 1rem rgba(0, 0, 0, 0.5);
}

.links button.instagram {
    background: linear-gradient(to bottom right, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
}

button.instagram:not([disabled]):focus,
button.instagram:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(188, 24, 136, 0.5), -.125rem -.125rem 1rem rgba(188, 24, 136, 0.5), .125rem .125rem 1rem rgba(188, 24, 136, 0.5);
}

.links button.resume {
    background: #ff0000;
}

button.resume:not([disabled]):focus,
button.resume:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(255, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(255, 0, 0, 0.5), .125rem .125rem 1rem rgba(255, 0, 0, 0.5);
}


.tags {
    margin: 0px;
    margin-top: auto;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

.tags span {
    padding: 8px 15px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 12px;
    box-sizing: border-box;
    border: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    display: flex;
    align-items: center;
    justify-content: center;
    border:rgb(0, 0, 0) 2px solid;
}

.tag-red {
    background-color: rgba(115, 24, 24, 0.298);
    color: #ff4242;
    transition: 200ms;
    font-size: 16px;
    border: 2px solid #000;
    margin-right: 20px;
}

.tag-red:not(:disabled):hover,
.tag-red:not(:disabled):focus {
    outline: 0;
    background-color: #ff000071;
    color: #FFFFFF;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .2), 0 3px 8px 0 rgba(0, 0, 0, .15);
}

.tag-red:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}

.tag-green {
    background-color: rgba(156, 253, 156, 0.323);
    color: #01e901;
    transition: 200ms;
    font-size: 16px;
    border: 2px solid #000;
    margin-right: 20px;
}

.tag-green:not(:disabled):hover,
.tag-green:not(:disabled):focus {
    outline: 0;
    background-color: #00ff006a;
    color: #FFFFFF;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .2), 0 3px 8px 0 rgba(0, 0, 0, .15);
}

.tag-green:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}

.tag-purple {
    background-color: rgba(255, 108, 255, 0.213);
    color: #ff00ff;
    transition: 200ms;
    font-size: 16px;
    border: 2px solid #000;
    margin-right: 20px;
}

.tag-purple:not(:disabled):hover,
.tag-purple:not(:disabled):focus {
    outline: 0;
    background-color: #ff00ff2c;
    color: #FFFFFF;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .2), 0 3px 8px 0 rgba(0, 0, 0, .15);
}

.tag-purple:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}

.tag-blue {
    background-color: rgba(66, 66, 192, 0.164);
    color: #5050ff;
    transition: 200ms;
    font-size: 16px;
    border: 2px solid #000;
    margin-right: 20px;
}

.tag-blue:not(:disabled):hover,
.tag-blue:not(:disabled):focus {
    outline: 0;
    background-color: #0101ca54;
    color: #FFFFFF;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .2), 0 3px 8px 0 rgba(0, 0, 0, .15);
}

.tag-blue:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}

.tag-pink {
    background-color: rgba(255, 192, 203, 0.27);
    color: #ff51ab;
    transition: 200ms;
    font-size: 16px;
    border: 2px solid #000;
    margin-right: 20px;
}

.tag-pink:not(:disabled):hover,
.tag-pink:not(:disabled):focus {
    outline: 0;
    background-color: #b7005f6d;
    color: #FFFFFF;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .2), 0 3px 8px 0 rgba(0, 0, 0, .15);
}

.tag-pink:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}

.tag-yellow {
    background-color: rgba(248, 248, 155, 0.185);
    color: #ffff00;
    transition: 200ms;
    font-size: 16px;
    border: 2px solid #000;
    margin-right: 20px;
}

.tag-yellow:not(:disabled):hover,
.tag-yellow:not(:disabled):focus {
    outline: 0;
    background-color: #e0e00072;
    color: #FFFFFF;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .2), 0 3px 8px 0 rgba(0, 0, 0, .15);
}

.tag-yellow:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}

.tag-orange {
    background-color: rgba(253, 193, 82, 0.267);
    color: #ff9900;
    transition: 200ms;
    font-size: 16px;
    border: 2px solid #000;
    margin-right: 20px;
}

.tag-orange:not(:disabled):hover,
.tag-orange:not(:disabled):focus {
    outline: 0;
    background-color: #ff990089;
    color: #FFFFFF;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .2), 0 3px 8px 0 rgba(0, 0, 0, .15);
}

.tag-orange:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}

.tag-cyan {
    background-color: rgba(73, 255, 255, 0.259);
    color: #00ffff;
    transition: 200ms;
    font-size: 16px;
    border: 2px solid #000;
    margin-right: 20px;
}

.tag-cyan:not(:disabled):hover,
.tag-cyan:not(:disabled):focus {
    outline: 0;
    background-color: #00b7b78d;
    color: #FFFFFF;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .2), 0 3px 8px 0 rgba(0, 0, 0, .15);
}

.tag-cyan:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}

.tag-brown {
    background-color: rgba(112, 71, 71, 0.24);
    color: #b35959;
    transition: 200ms;
    font-size: 16px;
    border: 2px solid #000;
    margin-right: 20px;
}

.tag-brown:not(:disabled):hover,
.tag-brown:not(:disabled):focus {
    outline: 0;
    background-color: #5e1e1e53;
    color: #FFFFFF;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .2), 0 3px 8px 0 rgba(0, 0, 0, .15);
}

.tag-brown:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}

.tag-dark-green {
    background-color: rgba(181, 236, 114, 0.253);
    color: #80ff00;
    transition: 200ms;
    font-size: 16px;
    border: 2px solid #000;
    margin-right: 20px;
}

.tag-dark-green:not(:disabled):hover,
.tag-dark-green:not(:disabled):focus {
    outline: 0;
    background-color: #66c91f88;
    color: #FFFFFF;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .2), 0 3px 8px 0 rgba(0, 0, 0, .15);
}

.tag-dark-green:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}

.contact-form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 40px 0px;
    width: 100%;
    align-items: center;
}

.contact-form-container h2,
.contact-form-container p {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

form.contact-form {
    display: flex;
    flex-direction: row;
    gap: 80px;
    margin-top: 20px;
    width: 100%
}

form.contact-form .inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
    font-family: "Roboto", sans-serif;
    width: 100%;
    margin-left: auto;
}

form.contact-form button.submit-form {
    background-color: #85a9f9;
    border-radius: 100px;
    --box-shadow: rgba(44, 44, 187, .2) 0 -25px 18px -14px inset, rgba(44, 44, 187, .15) 0 1px 2px, rgba(44, 44, 187, .15) 0 2px 4px, rgba(44, 44, 187, .15) 0 4px 8px, rgba(44, 44, 187, .15) 0 8px 16px, rgba(44, 44, 187, .15) 0 16px 32px;
    box-shadow: var(--box-shadow);
    color: rgb(0, 0, 128);
    cursor: pointer;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    padding: 25px 32px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 20px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    height: fit-content;
    width: 90%;
}

form.contact-form button.submit-form:hover {
    box-shadow: rgba(44, 44, 187, .35) 0 -25px 18px -14px inset, rgba(44, 44, 187, .25) 0 1px 2px, rgba(44, 44, 187, .25) 0 2px 4px, rgba(44, 44, 187, .25) 0 4px 8px, rgba(44, 44, 187, .25) 0 8px 16px, rgba(44, 44, 187, .25) 0 16px 32px;
    transform: translateY(5px)
}

form.contact-form .input-box {
    border-radius: 20px;
    padding: 15px;
    width: auto;
    border: solid;
    font-family: "Roboto", sans-serif;
}

form.contact-form .buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin: auto 0px auto 0px;
}

form.contact-form label {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

@media (max-width: 600px) {
    .floating-centered-container {
        padding: 2rem 5rem;
        width: 90%;
    }

    .floating-centered-container h1 {
        font-size: 30px;
    }

    .floating-centered-container p {
        margin: 10px 0px;
    }

    .title-container {
        padding: 2rem 5rem;
    }

    .title-container h1 {
        font-size: 30px;
    }

    .title-container p {
        margin: 5px 0px;
    }

    .project-card {
        min-width: 100%;
        max-width: 100%;
        padding: 1rem;
    }

    .project-card h2 {
        font-size: 28px;
    }

    .project-card p {
        font-size: 14px;
    }

    button {
        padding: 10px 20px;
        font-size: 14px;
    }

    .tags span {
        padding: 5px 10px;
        font-size: 14px;
    }

    .contact-form-container {
        margin: 20px 0px;
    }

    form.contact-form {
        flex-direction: column;
        gap: 20px;
    }

    form.contact-form .inputs {
        gap: 10px;
    }

    form.contact-form button.submit-form {
        padding: 15px 20px;
        font-size: 14px;
    }
}